<div class="container" *ngIf="messageService.messages.length">


    <h2 class="text-center"> Message
      <button type="button" class="close" (click)="messageService.clear()">
        <span aria-hidden="true">&times;</span>
      </button>
    </h2>



  <div *ngFor="let message of messageService.messages" >
    <div
        class="alert alert-dismissible fade show"
        [class.alert-danger]="message.messType === 0"
        [class.alert-success]="message.messType === 1"
         role="alert"
    >
      <strong>{{ message.messType===1?'Successful! ':'Error! ' | titlecase }}</strong> {{message.message}}
      <button
        (click)="messageService.clear()"
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>




</div>
