
<div class="container-fluid">

  <h1 class="text-center">
    Todo list
  </h1>

  <div class=" d-flex justify-content-end">
    <button class="mb-3 " mat-raised-button color="primary"><i class="fas fa-plus"></i> ADD</button>

  </div>

  <div class="row">

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <app-data-table ></app-data-table>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <app-form-add-job></app-form-add-job>
    </div>


  </div>




</div>









