<mat-card class="example-card">
  <mat-card-header class="bg-primary">

    <div class="container ">
      <div class=" d-flex justify-content-end align-content-center">
        <button type="button" class="close text-danger" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h3 class="text-center">Add More Job</h3>



    </div>
  </mat-card-header>


  <mat-card-content>

      <!--name-->
    <form
      autocomplete="off"
      #formAddData="ngForm"
      (ngSubmit)="onSubmitForm(formAddData)"
      class="example-form">

      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Name"
          [(ngModel)]="todo.name"

          name="name"
          required
          minlength="3"
          maxlength="40"
          pattern="^[A-Za-zÀ-ÿ ,.'-]+$"
          #name="ngModel"
        >

      </mat-form-field>

      <!--validation name-->

        <!--required-->
        <div
          *ngIf="name.dirty && name.errors?.required"
          class="alert alert-danger"
        >
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Warning!</strong> Path Name is required...
        </div>


      <!--minlength-->
      <div
        *ngIf=" name.errors?.minlength"
        class="alert alert-danger"
      >
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning!</strong>  Path Name must have from 3 - 50 characters
      </div>


      <div
        *ngIf=" name.errors?.pattern"
        class="alert alert-danger"
      >
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning!</strong>  Path Name doesn't contain special characters
      </div>


      <!-- end validation name-->


      <!--Time-->
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Choose a date"
          [(ngModel)]="todo.time"
          name="time"
          #time="ngModel"
          required="required"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div
        *ngIf="time.dirty  && time.errors?.required"
        class="alert alert-danger"
      >
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning!</strong>  Time is required...
      </div>


      <mat-card-actions class=" mt-3 d-flex justify-content-end">

        <button type="submit" class="mr-2" mat-flat-button color="primary">Add</button>
        <button mat-flat-button color="warn">Close</button>

      </mat-card-actions>

    </form>





  </mat-card-content>


</mat-card>
