<mat-card class="example-card">
  <div class="container bg-primary">
    <div class=" d-flex justify-content-end align-content-center">
      <button type="button" class="close text-danger" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <h3 class="text-center">Add More Job</h3>



  </div>

  <mat-card-content>


    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" value="">
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>





  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-end">
    <button mat-button> Add</button>
    <button mat-button> Close</button>
  </mat-card-actions>
</mat-card>
